<%- layout('/layouts/boilerplate.ejs') -%>

<form action="/send-otp" method="POST">
  <input type="email" name="email" required placeholder="Enter your registered email" class="form-control">
  <button type="submit" class="btn btn-primary mt-3">Send OTP</button>
</form>