<%- layout('/layouts/boilerplate.ejs') -%>

<div class="container mt-5">
  <h2>Reset Your Password</h2>
  <form action="/reset-password/<%= token %>" method="POST">
    <div class="form-group">
      <label for="password">New Password:</label>
      <input type="password" name="password" class="form-control" required placeholder="Enter new password">
    </div>
    <button type="submit" class="btn btn-success mt-3">Reset Password</button>
  </form>
</div>

